<% include partials/header.ejs %>

<h1>Id: <%= bookinstance._id %></h1>

<p><strong>Title:</strong> <a href="<%= bookinstance.book.url %>"><%= bookinstance.book.title %></a></p>
<P><strong>Imprint:</strong> <%= bookinstance.imprint %></P>

<% if(bookinstance.status=='Available') { %>
    <p class="text-success"><%=bookinstance.status%></p>
<% } else if (bookinstance.status=='Maintenance') { %>
    <p class="text-danger"><%=bookinstance.status%></p>
    <p><strong>Due back:</strong> <%= bookinstance.due_back_formatted %></p>
<% } else { %>
    <p class="text-warning"><%=bookinstance.status%></p>
    <p><strong>Due back:</strong> <%= bookinstance.due_back_formatted %></p>
<% } %>


<hr>
<p><a href="<%= bookinstance.url + '/delete' %>">Delete</a></p>
<p><a href="<%= bookinstance.url + '/update' %>">Update</a></p>


<% include ./partials/footer.ejs %>